:root {
    /* cors */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --white: #fff;

    /* font */
    --font-Red-Hat-Display: 'Red Hat Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile 375px */

body {
    background: var(--Pale-blue) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-Red-Hat-Display);
}

#illustration-hero {
    height: 31.8%;
    border-radius: 20px 20px 0 0 ;
    /* margin-bottom: 2px; */
    
}


.mother{
    background: var(--white);
    height: 500px;
    width: 325px;
    border-radius: 20px;
}

.principal {
    padding: 20px;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 10px; */
    font-size: 1rem;
   
}

.title {
    font-weight: 900;
    color: var(--Dark-blue);
}

.description {
    font-weight: 600;
    color: var(--Desaturated-blue);
    line-height: 1.56rem;
    padding:0.5rem;
}

.music_plan {
    background-color: var(--Very-pale-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0 16px 0;
    padding: 1rem;
    border-radius: 12px;
    font-size: 1rem;
}

.Plan {
    font-weight: 900;
    color: var(--Dark-blue);
    margin-bottom: 3px;
}

.mudar {
    color: var(--Bright-blue);
    font-weight: 900;
    font-size: 0.93rem;
    margin: 12px 0 0 20px;
}

.mudar:hover {
    color: var(--Desaturated-blue);
}

.Valor {
    font-weight: 500;
    color: var(--Desaturated-blue);
}



.confirm_or_cancel {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.confirmation {
    background-color: var(--Bright-blue);
    border: none;
    font-family: var(--font-Red-Hat-Display);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--Very-pale-blue);
    padding: 12px;
    border-radius: 8px;

}

.confirmation:hover {
    box-shadow: 10px 8px 25px var(--Pale-blue);
}

.cancellation {
    background: none;
    border: none;
    color: var(--Desaturated-blue);
    font-family: var(--font-Red-Hat-Display);
    font-weight: 700;
}

footer {
    display: none;
}

