:root {
    /* cors */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    /* font */
    --font-Red-Hat-Display: 'Red Hat Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile 375px */

body {
    background: var(--Pale-blue) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#illustration-hero {
    height: 31.8%;
}


.mother{
    background: var(--Very-pale-blue);
    height: 500px;
    width: 325px;

}

